<h2>ORG</h2>
<table border="1">
    <tr>
        <th>nomeclatureID</th>
        <th>Id</th>
        <th>Name</th>
        <th>min</th>
        <th>max</th>
        <th>fold</th>
        <th>cost</th>
        <th>providerId</th>
        <th>send</th>
        <th>check</th>

    </tr>
    #foreach($store in $stateStores)
        <tr>
            <td>$store.nomeclatureID</td>
            <td>$store.orgId</td>
            <td>$store.name</td>
            <td>$store.min</td>
            <td>$store.max</td>
            <td>$store.fold</td>
            <td>$store.cost</td>
            <td>$store.providerId</td>
            <td>$store.send</td>
            <td>$store.check</td>

        </tr>
    #end
</table>

<a href="/smp">Welcome page</a>
